extends ../partials/layout.jade

block content
  div.content
    div.panel.panel-primary
      div.panel-heading
        h3 Dynamo Tool - Issue Management
      div.panel-body
        p Information goes here